/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
}

a {
    text-decoration: none;
}

.bcontainer {
    height: 100vh;
    background-color: #151922;
}

main {
   height: calc(100% - 90px);
}

footer {
    height: 90px;
    background-color: #282828;
}

.container {
    display: flex;
    justify-content: space-between;
   
}

img {
    max-width: 100%;
    display: block;
}

.boxleft {
    
    width: 55px;
    background-color: black;
}

nav {
    padding: 13px;
}

.mobile {
    padding-bottom: 25px;
}

li {
    padding-bottom: 10px;
}

.desktop {
    display: none;
}

span {
    display: none;
}

.playlist {
    display: none;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box1 {
    display: flex;
    flex-direction: column;
}

.box2 {
    display: flex;
    flex-direction: column;

}

hr {
    display: none;
}

.photo {
    filter: brightness(50%);
}
header {
    height: 90px;
    max-width: 100%;
    background-color: #10151b;
}


@media screen and (min-width: 992px) {

    .boxleft {
        
        width: 230px;
        background-color: black;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        padding-bottom: 35px;
    }

    span {
        display: inline;
        color: #5c5c5c;
        align-items: center;
        padding-left: 10px;
    
    }

    li {
        display: flex;
        align-items: center;
        color: #5c5c5c;
    }
    
    ul img {
        
        width: 20%;
        display: inline-block;
        
    }

    h4 {
        padding-top: 30px;
        padding-bottom: 10px;
        color: #ffffff;
        text-transform: uppercase;
    }

    .icon {
        color: #5c5c5c;
        font-size: 50px;
        padding-bottom: 15px;
    }

    .text {
        font-size: 16px;
        vertical-align: middle;
        padding-left: 0px;
    }

    .playlist {
        display: inline;
    }

    hr {
        margin: 10px;
    }

    .nameplaylist {
        padding-bottom: 55px;
    }

    .profile {
        color: #ffffff;
    }

    
}