/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
}

.bcontainer {
    height: 100vh;
    background-color: #151922;
}

main {
    height: calc(100% - 90px);
}

footer {
    height: 90px;
    background-color: #282828;
}

.container {
    display: flex;
   
}

.boxleft {
    height: 590px;
    width: 55px;
    background-color: black;
}

.logo {
    padding: 15px;
}

.desktop {
    display: none;
}



@media screen and (min-width: 992px) {

    .boxleft {
        height: 590px;
        width: 450px;
        background-color: black;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        padding-left: 30px;
        padding-right: 60px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    
}